.idea
.vscode
**/__pycache__/

fiqa_venv*
lera_venv*

fiqa/language_processing/json_2.1.0*
alfred_utils/data/json_2.1.0*
alfred_utils/data/detector
alfred_utils/data/dataset_for_detector.tar.gz
fiqa/language_processing/dataset_for_pose_correction*
teach_utils/data/tfd_instances*
debug*
fmm_dist_weird

fiqa/checkpoints/*
results

.cache
.local
.vscode-server
.dotnet
.ai2thor
.nv
.ipython

.bash_history
.python_history
.sudo_as_admin_successful
.config
.wget-hsts


# WandB logs
outputs 

# Other
.gnupg/pubring.gpg
.gnupg/pubring.kbx
exp2.out
.ssh/known_hosts
.gnupg/trustdb.gpg
docker/runner
alfred_utils/data/dataset_for_pose_correction_v2.tar.gz
alfred_utils/data/downsampled_filtered_eps_with_changed_states.json
alfred_utils/data/downsampled_filtered_eps_for_changing_states.json
fiqa/task_handlers/subtask_manager_old.py
.cursor-server/
*.zip